<template>
<div>
    <!-- Categories Widget -->
    <div class="card m-1">
        <h5 class="card-header">
            <div class="row h5 ">
                <div class="col">{{trans["account name"]}}<br /></div>
                <div class="col">{{trans['account number']}}</div>
                <div class="col">{{trans["account balance"]}}</div>
                <div class="col">{{trans.options}}</div>
            </div>
        </h5>
        <div class="card-body">
            <div class="row h6 " v-for="p in accountsArray" v-bind:key="p.account_number">
                <div class="col">
                    <strong>{{p.account_name}}</strong>
                </div>
                <div class="col">{{p.account_number}}</div>
                <div class="col">{{p.account_balance}} €</div>
                <!--  Select Box  -->
                <div class="form-group col">
                    <select class="form-control form-control-sm font-weight-bold text-success" v-on:change="selectBoxAction(p.account_number)" v-model="optionSelected">
                        <option disabled>
                            {{trans.choose}}
                        </option>
                        <option class="font-weight-bold text-success">{{trans.history}}</option>
                        <option class="font-weight-bold text-success">{{trans.payment}}</option>
                        <option class="font-weight-bold text-success" v-bind:value="trans.deposits">{{trans.deposits}}</option>
                    </select>
                </div>
                <!-- /Select Box -->
            </div>
        </div>
    </div>
    <button id="modalFormButton" hidden type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Open modal for @mdo</button>
    <single-payment-component v-bind:trans="trans" v-on:refreshMainCardContent="refreshMainCardContent" v-bind:accountNumberToPass="accountNumberToPass"></single-payment-component>
</div>
</template>

<script>
import SinglePaymentComponent from "./SinglePaymentComponent"
export default {
    mounted() {
        this.errors = this.errorClear;
        const axios = require('axios');
        axios.get("api/accounts", {})
            .then(response => {
                this.accountsArray = response.data;
            })
            .catch(function(error) {
                alert('Payment error: ' + error);
            })
            .finally(function() {
                //
            });
    },
    data: function() {
        return {
            optionSelected: this.trans.choose,
            accountNumberToPass: 0,
            accountsArray: [],
            errors: this.errorClear
        }
    },
    methods: {
        refreshMainCardContent() {
            this.$emit("refreshMainCardContent");
        },
        selectBoxAction(selectedAccountNumber) {
            this.accountNumberToPass = selectedAccountNumber;
            if (this.optionSelected == this.trans.payment) {
                this.openPayment();
            }
            if (this.optionSelected == this.trans.history) {
                this.openHistory();
            }
            if (this.optionSelected == this.trans.deposits) {
                this.openDeposits();
            }
            // resetuje selectBox po płatności,ponieważ inaczej wszędzie będzie wybrana opcja Płatność zamiast Wybierz
            this.resetSelectBox();
        },
        openPayment() {
            $('#modalFormButton').click();
        },
        openHistory() {
            this.$emit("openHistory", this.accountNumberToPass);
        },
        openDeposits() {
            this.$emit("openDeposits", this.accountNumberToPass);
        },
        resetSelectBox() {
            this.optionSelected = this.trans.choose;
        }
    },
    components: {
        SinglePaymentComponent
    },
    props: [
        "errorClear",
        "trans"
    ],
}
</script>
