<template>
<div>
    <table class="table table-sm">
        <thead class="thead-light">
            <tr>
                <th>{{trans.name}}</th>
                <th>{{trans["open date"]}}</th>
                <th>{{trans["due date"]}}</th>
                <th>{{trans["interest rate"]}}</th>
                <th>{{trans["accrued interest"]}}</th>
                <th>{{trans.balance}}</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="p in depositsArray" v-bind:key="p.id">
                <td>{{p.name}}</td>
                <td>{{p.created_at.substr(11,8)}}</td>
                <td>{{p.deposit_ends_at.substr(11,8)}}</td>
                <td>{{p.interest_rate*100}}% / hour</td>
                <td class="alert-success">{{parseFloat(p.balance-p.initial_balance).toFixed(2)}} €</td>
                <td>{{p.initial_balance}} €</td>
            </tr>
        </tbody>
    </table>
    <br>
    <hr><br><br>
    <!-- <form> -->
    <div class="text-center ">
        <div class="form-row">
            <div class="col"></div>
            <div class="form-group col-4 text-center ">
                {{trans["open new deposit"]}} {{trans["from account number"]}} </div>
            <div class="form-group col-3">
                <select class="w-100 bg-light border-success rounded text-success" v-model="accountNumberSelected">
                    <option disabled class="">{{trans.choose}}</option>
                    <option class="text-dark" v-for="p in accountsArray" v-bind:key="p.id">
                        {{p.account_number}}
                    </option>
                </select>
            </div>
            <div class="form-group col">
                <button v-on:click="openNewDeposit" v-bind:class="{'disabled':buttonDisabled}" class="btn btn-primary btn-sm pl-3 pr-3 pt-0 pb-0 w-100">
                    {{trans.open}}
                </button>
            </div>
            <div class="col"></div>
        </div>
    </div>
    <!-- </form> -->
    <br><br><br>
</div>
</template>

<script>
export default {
    data: function() {
        return {
            accountsArray: [],
            depositsArray: [],
            accountNumberSelected: this.trans.choose
        }
    },
    mounted() {
        const axios = require('axios');
        axios.post("api/accounts", {})
            .then(response => {
                this.accountsArray = response.data;
            })
            .catch(function(error) {
                alert('error: ' + error);
            })
            .finally(function() {
                //
            });
        axios.post("api/deposits", {})
            .then(response => {
                this.depositsArray = response.data;
            })
            .catch(function(error) {
                alert('error: ' + error);
            })
            .finally(function() {
                //
            });
    },
    methods: {
        openNewDeposit() {
            if (!this.buttonDisabled) {
                this.$store.commit("setAccountNumber", this.accountNumberSelected);
                this.$emit('openNewDeposit', this.accountNumberSelected);
            }
        }
    },
    computed: {
        buttonDisabled() {
            if (this.accountNumberSelected !== this.trans.choose) {
                return false;
            }
            return true;
        }
    },
    props: [
        "trans",
    ]
}
</script>
