<template>
<div>
    <!-- Categories Widget -->
    <div class="card m-1" style="height:633px">
        <h5 class="card-header">
            <div class="row h5 ">
                <div class="col-3 cursorPointer" v-on:click="sortByDate()"><span v-html="sortingColumnSymbol[0]"></span>{{trans.date}}</div>
                <div class="col cursorPointer" v-on:click="sortByFrom()"><span v-html="sortingColumnSymbol[1]"></span>{{trans.from}}</div>
                <div class="col cursorPointer" v-on:click="sortByTo()"><span v-html="sortingColumnSymbol[2]"></span>{{trans.to}}</div>
                <div class="col cursorPointer" v-on:click="sortByDescription()"><span v-html="sortingColumnSymbol[3]"></span>{{trans.description}}</div>
                <div class="col cursorPointer" v-on:click="sortByAmount()"><span v-html="sortingColumnSymbol[4]"></span>{{trans.amount}}</div>
            </div>
        </h5>
        <div class="card-body " style="border-color:yellow;">
            <div>
                <div class="row h6 pb-1" v-for="p in DisplayedTransactions" v-bind:key="p.paymentId">
                    <div class="col-3">{{p.date}}</div>
                    <div class="col">{{p.payerName}}</div>
                    <div class="col">{{p.recipientName}}</div>
                    <div class="col">{{p.paymentDescription}}</div>
                    <div style="text-align:right !important;" class="text-right" v-bind:class="p.paymentAmountColorClass">{{p.paymentAmountSign}}{{p.paymentAmount}} €</div>
                </div>
            </div>
            <div style="width:100%;border-width:1px;border-color:green;position:absolute;bottom:0;left:0;" class='p-3'>
                <div class="row h6  pb-1 pt-1 bg-light border-top border-dark border-bold ">
                    <div class="col-3"></div>
                    <div class="col"></div>
                    <div class="col"></div>
                    <div class="col font-weight-bold">{{trans["account balance"]}}</div>
                    <div class="col font-weight-bold">{{balance}} €</div>
                </div>
                <!-- Pagination -->
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                        <li class="page-item" v-bind:class="{'disabled':previousButtonDisabled}">
                            <button type="button" class="page-link" @click="page--"> &laquo; </button>
                        </li>
                        <li class="page-item" v-bind:class="{'active':page==pageNumber}" v-for="pageNumber in pagesDisplayed">
                            <button type="button" class="page-link" @click="page = pageNumber"> {{pageNumber}} </button>
                        </li>
                        <li class="page-item" v-bind:class="{'disabled':nextButtonDisabled}">
                            <button type="button" @click="page++" class="page-link"> &raquo; </button>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
</template>

<script>
export default {
    beforeMount() {
        const axios = require('axios');
        axios.post("api/history", {
                bankAccountNumber: this.accountNumberReceived
            })
            .then(response => {
                this.paymentsArray = response.data;
                this.balance = this.paymentsArray.accountBalance[0]; //jesli to dam w template to pojawia sie `cannot read property 0 of undefined`
                //bo chyba jest jakies opoznienie, mozna uzyc setTimeout albo mounted or sth
                console.log(JSON.stringify(response.data));

            })
            .catch(function(error) {
                alert(error);
            })
            .finally(function() {
                //
            });
        setTimeout(() => {
            this.setDisplayedTransactions();
        }, 300);
    },
    data: function() {
        return {
            paymentsArray: [],
            balance: null,
            sortingArray: [1, 1, 1, 1, 1], //0 lub 1 sortuje każda z 5 kolumn rosnąco lub malejąco
            sortingColumnSymbol: ["&#11015", "", "", "", ""], //tablica pięciu kolumn z symbolami sortowania
            page: 1,
            perPage: 12,
            pages: [],
            DisplayedTransactions: [],
        }
    },
    methods: {
        //próbowałem nie duplikowac tych pięciu funkcji ale nie dałem rady
        sortByDate() {
            this.paymentsArray.rows.sort((a, b) => (a.date > b.date) ? this.sortingArray[0] : (a.date === b.date) ? ((a.paymentAmount > b.paymentAmount) ? 1 : -1) : -this.sortingArray[0]);
            this.setSortingOrderAndPaginate(0);
            this.setSortingColumnSymbol(0);
        },
        sortByFrom() {
            this.paymentsArray.rows.sort((a, b) => (a.payerName > b.payerName) ? this.sortingArray[1] : (a.payerName === b.payerName) ? ((a.date > b.date) ? 1 : -1) : -this.sortingArray[1]);
            this.setSortingOrderAndPaginate(1);
            this.setSortingColumnSymbol(1);
        },
        sortByTo() {
            this.paymentsArray.rows.sort((a, b) => (a.recipientName > b.recipientName) ? this.sortingArray[2] : (a.recipientName === b.recipientName) ? ((a.date > b.date) ? 1 : -1) : -this.sortingArray[2]);
            this.setSortingOrderAndPaginate(2);
            this.setSortingColumnSymbol(2);
        },
        sortByDescription() {
            this.paymentsArray.rows.sort((a, b) => (a.paymentDescription > b.paymentDescription) ? this.sortingArray[3] : (a.paymentDescription === b.paymentDescription) ? ((a.date > b.date) ? 1 : -1) : -this.sortingArray[3]);
            this.setSortingOrderAndPaginate(3);
            this.setSortingColumnSymbol(3);
        },
        sortByAmount() {
            //tutaj dałem parseInt, ponieważ sortowało liczby jako stringi
            this.paymentsArray.rows.sort((a, b) => (parseInt(a.paymentAmountSign + a.paymentAmount) > parseInt(b.paymentAmountSign + b.paymentAmount)) ? this.sortingArray[4] : (parseInt(a.paymentAmountSign + a.paymentAmount) === parseInt(b
                .paymentAmountSign + b.paymentAmount)) ? ((a.date > b.date) ? 1 : -1) : -this.sortingArray[4]);
            this.setSortingOrderAndPaginate(4);
            this.setSortingColumnSymbol(4);
        },
        setSortingOrderAndPaginate(paymentsArrayIndex) {
            Vue.set(this.sortingArray, paymentsArrayIndex, -this.sortingArray[paymentsArrayIndex]);
            this.page = 1;
            this.setDisplayedTransactions();
        },
        setPages() {
            let numberOfPages = Math.ceil(this.paymentsArray.rows.length / this.perPage);
            for (let index = 1; index <= numberOfPages; index++) {
                this.pages.push(index);
            }
        },
        paginate(paymentsArray) {
            let page = this.page;
            let perPage = this.perPage;
            let from = (page * perPage) - perPage;
            let to = (page * perPage);
            return paymentsArray.slice(from, to);
        },
        setDisplayedTransactions() {
            this.DisplayedTransactions = this.paginate(this.paymentsArray.rows);
        },
        setSortingColumnSymbol(columnIndex) {
            this.clearSortingColumnSymbolArray();
            Vue.set(this.sortingColumnSymbol, columnIndex, "&#11015");
            if (this.sortingArray[columnIndex] == 1) {
                Vue.set(this.sortingColumnSymbol, columnIndex, "&#11014;");
            }
        },
        clearSortingColumnSymbolArray() {
            for (var i = 0; i < 5; i++) {
                Vue.set(this.sortingColumnSymbol, i, "");
            }
        }
    },
    computed: {
        nextButtonDisabled: function() {
            if (this.page > this.pages.length - 1) {
                return true;
            }
            return false;
        },
        previousButtonDisabled() {
            if (this.page == 1) {
                return true;
            }
            return false;
        },
        //dałem tutaj pagesDisplayed, żeby cały czas wyświetlało 3 przyciski na dole paginacji
        pagesDisplayed() {
            if (this.pages.length < 4) {
                return this.pages;
            }
            if (this.page < 4) {
                return this.pages.slice(0, 3);
            }
            if (this.page > this.pages.length - 3) {
                return this.pages.slice(this.pages.length - 3, this.pages.length);
            }
            return this.pages.slice(this.page - 2, this.page + 1);
        }
    },
    watch: {
        paymentsArray() {
            this.setPages();
            this.setDisplayedTransactions();
        },
        page() {
            this.setDisplayedTransactions();
        }
    },
    props: [
        "accountNumberReceived",
        "trans"
    ]
}
</script>


<style>
.cursorPointer {
    cursor: pointer;
}

button.page-link {
    display: inline-block;
}

button.page-link {
    font-size: 20px;
    color: #29b3ed;
    font-weight: 500;
}

.offset {
    width: 500px !important;
    margin: 20px auto;
}

.border-bold {
    border-width: 2px !important;
}
</style>
