<style>
.h-80 {
    height: 80%;
}

.h-86 {
    height: 86%;
}

.h-87 {
    height: 87%;
}

.h-88 {
    height: 88%;
}
</style>

<template>
<div>
    <div class="container">
        <div class="row text-center h4">
            <div class="col" v-on:click="menuClick(trans.accounts)"><a href="javascript:void(0)" class="text-success font-weight-bold">{{ trans.accounts }}</a></div>
            <div class="col" v-on:click="menuClick(trans.history)"><a href="javascript:void(0)" class="text-success font-weight-bold">{{ trans.history }}</a></div>
            <div class="col" v-on:click="menuClick(trans.deposits)"><a href="javascript:void(0)" class="text-success font-weight-bold">{{ trans.deposits }}</a></div>
            <div class="col" v-on:click="menuClick(trans.loans)"><a href="javascript:void(0)" class="text-success font-weight-bold">{{ trans.loans }}</a></div>
            <div class="col" v-on:click="menuClick(trans.cards)"><a href="javascript:void(0)">{{ trans.cards }}</a></div>
            <div class="col" v-on:click="menuClick(trans.checking)"><a href='javascript:void(0)'>{{ trans.checking }}</a></div>
            <div class="col" v-on:click="menuClick(trans.investing)"><a href="javascript:void(0)">{{ trans.investing }}</a></div>
        </div>
        <div class="row bg-secondary rounded">
            <!-- Blog Entries Column -->
            <div class="col-md-8 ">
                <h1 class="my-1 text-center">
                    <small>{{ menuItemClicked }} {{accountToShowInCardTitle}}</small>
                </h1>
                <!-- Blog Post -->
                <div class="card mb-4 h-87 ">
                    <div class="card-body">
                        <component v-bind:is="mainCardContent" v-bind:trans="trans" v-on:openHistory="openHistory" v-on:openDeposits="openDeposits" v-on:openNewDeposit="openNewDeposit"
                          v-bind:accountNumberReceived="accountNumberForAjaxInHistoryComponent" :key="keyUsedToRefresh" v-on:refreshMainCardContent="refreshMainCardContent" errorClear="">
                        </component>
                    </div>
                    <div class="card-footer text-muted">
                        <a href="#"></a>
                    </div>
                </div>
            </div>
            <!-- Sidebar Widgets Column -->
            <div class="col-md-4 my-4">
                <!-- Search Widget -->
                <div class="card my-4">
                    <h5 class="card-header">{{trans.search}}</h5>
                    <div class="card-body">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="">
                            <span class="input-group-btn">
                                <button class="btn btn-secondary" type="button">{{trans.go}}</button>
                            </span>
                        </div>
                    </div>
                </div>
                <!-- Categories Widget -->
                <div class="card my-4">
                    <h5 class="card-header">{{ trans.categories }}</h5>
                    <div class="card-body">
                        <div class="row h5">
                            <div class="col-lg-6">
                                <ul class="list-unstyled mb-0">
                                    <li>
                                        <a href="javascript:void(0)" v-on:click="menuClick(trans.accounts)" class="text-success font-weight-bold">{{ trans.accounts }}</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)" v-on:click="menuClick(trans.history)" class="text-success font-weight-bold">{{ trans.history }}</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)" v-on:click="menuClick(trans.loans)" class="text-success font-weight-bold">{{ trans.loans }}</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)" v-on:click="menuClick(trans.cards)">{{ trans.cards }}</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-lg-6">
                                <ul class="list-unstyled mb-0">
                                    <li>
                                        <a href="javascript:void(0)" v-on:click="newAccount()" class="font-weight-bold text-success">{{trans["new account"]}}</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)" v-on:click="menuClick(trans.deposits)" class="font-weight-bold text-success">{{ trans.deposits }}</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)" v-on:click="menuClick(trans.investing)">{{ trans.investing }}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Side Widget -->
                <div class="card my-4 ">
                    <h5 class="card-header">{{ trans.presentation }}</h5>
                    <div v-if="trans.locale!='fr'" class="card-body h5 text-justify">
                        {{ trans["description content"]}}
                    </div>
                    <div v-if="trans.locale=='fr'">
                      <iframe width="100%" height="100%" src="https://www.youtube.com/embed/WUbbonYc6Lw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
    <!-- Footer -->
    <footer class="py-1 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-warning">symBank</p>
        </div>
    </footer>
    <!-- /.Footer -->
</div>
</template>

<script>
import AccountsComponent from './AccountsComponent'
import HistoryComponent from './HistoryComponent'
import CheckingComponent from './CheckingComponent'
import MessageComponent from './MessageComponent'
import DepositsComponent from './DepositsComponent'
import NewDepositComponent from './NewDepositComponent'
import NewLoanComponent from './NewLoanComponent'
export default {
    created() {
        this.trans = JSON.parse(this.translation);
        this.menuItemClicked = this.trans.accounts;
        this.eventBus.$on("openMessageComponent", this.openMessageComponent);
        this.eventBus.$on("refreshMainCardContent", this.refreshMainCardContent);
    },
    inject: ["eventBus"],
    data: function() {
        return {
            menuItemClicked: null,
            mainCardContent: AccountsComponent,
            accountNumberForAjaxInHistoryComponent: 0,
            accountToShowInCardTitle: null,
            keyUsedToRefresh: 0,
            trans: null,
        }
    },
    methods: {
        menuClick(item, accountNumber = 0) {
            this.refreshMainCardContent();
            this.clearTitle();
            this.changeTitleToItemClicked(item);
            if (item == this.trans.accounts) {
                this.showAccounts();
            };
            if (item == this.trans.history) {
                this.showHistory(accountNumber);
            };
            if (item == this.trans.checking) {
                this.showChecking();
            };
            if (item == this.trans.deposits) {
                this.showDeposits(accountNumber);
            }
            if (item == this.trans["new deposit"]) {
                this.showNewDepositForm(accountNumber);
            }
            if (item == this.trans.loans) {
                this.showNewLoanForm(accountNumber);
            }
        },
        showAccounts() {
            this.mainCardContent = AccountsComponent;
        },
        showHistory(accountNumber) {
            this.mainCardContent = HistoryComponent;
            this.scrollToTopSlowly();
            this.appendAccountNumberInTitle(accountNumber);
            this.accountNumberForAjaxInHistoryComponent = accountNumber;
        },
        showChecking() {
            this.mainCardContent = CheckingComponent;
        },
        showDeposits(accountNumber) {
            this.mainCardContent = DepositsComponent;
            this.accountNumberForAjaxInHistoryComponent = accountNumber;
            this.scrollToTopSlowly();
        },
        showLoans() {
            this.mainCardContent = LoansComponent;
            this.scrollToTopSlowly();
        },
        showInvesting() {
            this.mainCardContent = InvestingComponent;
        },
        showNewDepositForm(accountNumber) {
            this.mainCardContent = NewDepositComponent;
            this.scrollToTopSlowly();
        },
        showNewLoanForm(accountNumber) {
            this.mainCardContent = NewLoanComponent;
            this.scrollToTopSlowly();
        },
        //te cztery funkcje są wywoływane z innych komponentów przez custom Events lub event Bus
        openHistory(accountNumber = 0) {
            this.menuClick(this.trans.history, accountNumber);
        },
        openDeposits(accountNumber = 0) {
            this.menuClick(this.trans.deposits, accountNumber);
        },
        openNewDeposit(accountNumber) {
            this.menuClick(this.trans["new deposit"], accountNumber);
        },
        openMessageComponent() {
            this.mainCardContent = MessageComponent;
            this.scrollToTopSlowly();
        },
        changeTitleToItemClicked(item) {
            this.menuItemClicked = item;
        },
        appendAccountNumberInTitle(accountNumber) {
            this.accountToShowInCardTitle = this.trans["for account nr"] + ": " + accountNumber;
            if (accountNumber == 0) {
                this.accountToShowInCardTitle = this.trans["for main account"];
            }
        },
         // odświerzanie komponentu np. odświeża sumę transakcji po płatności
        refreshMainCardContent() {
            this.keyUsedToRefresh += 1;
        },
        scrollToTopSlowly() {
            $('html,body').animate({
                scrollTop: 0
            }, 'slow');
        },
        clearTitle() {
            this.accountToShowInCardTitle = null;
        },
        newAccount() {
            const axios = require('axios');
            axios.post("api/new_account", {})
                .then(response => {
                    this.$store.commit("setMessage", response.data[0]);
                    this.$store.commit("setMessageClass", response.data[1]);
                })
                .catch(function(error) {
                    alert('Error occurred during account creation: ' + error);
                })
                .finally(function() {});
            this.menuItemClicked = "";
            this.accountToShowInCardTitle = "";
            this.openMessageComponent();
        },
    },
    components: {
        AccountsComponent,
        HistoryComponent,
        CheckingComponent,
        MessageComponent,
        DepositsComponent,
        NewDepositComponent,
        NewLoanComponent
    },
    props: [
        "translation"
    ],
}
</script>
