<template>
<div>
    <br />
    <div class=" text-center h2" v-bind:class="$store.state.messageClass" v-html="$store.state.message">
    </div>
</div>
</template>

<script>
export default {
    inject: [
        "eventBus"
    ],
    props: [
        "trans"
    ],
}
</script>
