<template>
<div>
    <div class="card-header">
        <h3 class="card-title text-center">{{trans["you are opening a new term deposit"]}} {{depositName}}</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <div class="row">
            <div class="col-sm-6">
                <!-- checkbox -->
                <div class="form-group">
                    <div class="custom-control ">
                        <label class="h5" for="validationServer01">{{trans.name}}</label>
                        <input type="text" class="form-control " id="validationServer01" v-model="depositName" required>
                    </div>
                </div>
                <hr class="ml-4 mt-4">
            </div>
            <div class="col-sm-6">
                <!-- radio -->
                <div class="form-group">
                    <div class="custom-control custom-radio ">
                        <label class="h5">{{trans["interest rate"]}}</label>
                    </div>
                    <div class="custom-control custom-radio ml-4">
                        <input class="custom-control-input" type="radio" id="customRadio1" name="customRadio" v-model="depositInterestRate" value="5" checked="">
                        <label for="customRadio1" class="custom-control-label">5% {{trans["per hour"]}}</label>
                    </div>
                    <div class="custom-control custom-radio ml-4">
                        <input class="custom-control-input" type="radio" id="customRadio2" name="customRadio" v-model="depositInterestRate" value="10">
                        <label for="customRadio2" class="custom-control-label">10% {{trans["per hour"]}} </label>
                    </div>
                    <hr class="ml-4">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <!-- checkbox -->
                <div class="form-group">
                    <div class="custom-control ">
                        <label class="h5" for="validationServer022">{{trans.amount}}</label>
                        <input type="number" class="form-control " id="validationServer022" v-model="depositAmount" required>
                    </div>
                    <hr class="ml-4 mt-4">
                    <div class="form-group ml-4">
                        <div class="custom-control custom-switch">
                            <input type="checkbox" class="custom-control-input" id="customSwitch221" checked v-model="depositRenewal" value="true">
                            <label class="custom-control-label" for="customSwitch221">{{trans.renewal}}</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <!-- radio -->
                <div class="form-group">
                    <div class="custom-control custom-radio ">
                        <label class="h5">{{trans.period}}</label>
                    </div>
                    <div class="custom-control custom-radio ml-4">
                        <input class="custom-control-input" type="radio" id="customRadio7" name="customRadio1" v-model="depositDuration" value="3">
                        <label for="customRadio7" class="custom-control-label">3 {{trans.minutes}}</label>
                    </div>
                    <div class="custom-control custom-radio ml-4">
                        <input class="custom-control-input" type="radio" id="customRadio36" name="customRadio1" checked="" v-model="depositDuration" value="6">
                        <label for="customRadio36" class="custom-control-label">6 {{trans.minutes}}</label>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="text-center">
            <button v-on:click="openNewDeposit" class="btn pl-3 pr-3 btn-outline-success">
                {{trans.open}}
            </button>
        </div>
        <!-- </form> -->
    </div>
    <!-- /.card-body -->
</div>
</template>

<script>
export default {
    inject: ["eventBus"],
    data: function() {
        return {
            depositInterestRate: 5,
            depositDuration: 3,
            depositRenewal: true,
            depositAmount: 100,
            depositName: this.trans["new deposit"]
        }
    },
    methods: {
        openNewDeposit() {
            const axios = require('axios');
            axios.post("api/new_deposit", {
                    depositInterestRate: this.depositInterestRate,
                    depositDuration: this.depositDuration,
                    depositRenewal: this.depositRenewal,
                    depositAmount: this.depositAmount,
                    depositName: this.depositName,
                    accountNumber: this.$store.state.selectedAccountNumber,
                })
                .then(response => {
                    console.log(response.data);
                    this.$store.commit("setMessage", response.data[0]);
                    this.$store.commit("setMessageClass", response.data[1]);
                    this.emitOpenMessageComponent();
                })
                .catch(function(error) {
                    alert('Error occurred during deposit creation: ' + error);
                })
                .finally(function() {});
        },
        emitOpenMessageComponent() {
            this.eventBus.$emit('openMessageComponent');
        }
    },
    props: [
        "trans"
    ]
}
</script>
