<template>
<div>

    <div class="card-header">
        <h3 class="card-title text-center">{{trans["you are taking out a new loan"]}} </h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <!-- <form role="form"> -->
        <div class="row">
            <div class="col-sm-6">
                <!-- checkbox -->
                <div class="form-group">
                    <div class="custom-control ">
                        <label class="h5" for="validationServer01">{{trans.name}}</label>
                        <input type="text" class="form-control " id="validationServer01" v-model="loanName" required>
                    </div>
                </div>
                <hr class="ml-4 mt-4">
            </div>
            <div class="col-sm-6">
                <!-- radio -->
                <div class="form-group">
                    <div class="custom-control custom-radio ">
                        <label class="h5">{{trans["interest rate"]}}</label>
                    </div>
                    <div class="custom-control custom-radio ml-4">
                        <input class="custom-control-input" type="radio" id="customRadio1" name="customRadio" v-model="loanInterestRate" value="5" checked="">
                        <label for="customRadio1" class="custom-control-label">5% {{trans["per hour"]}}</label>
                    </div>
                    <div class="custom-control custom-radio ml-4">
                        <input class="custom-control-input" type="radio" id="customRadio2" name="customRadio" v-model="loanInterestRate" value="10">
                        <label for="customRadio2" class="custom-control-label">10% {{trans["per hour"]}} </label>
                    </div>
                    <hr class="ml-4">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <!-- checkbox -->
                <div class="form-group">
                    <div class="custom-control ">
                        <label class="h5" for="validationServer022">{{trans.amount}}</label>
                        <input type="number" class="form-control " id="validationServer022" v-model="loanAmount" required>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <!-- radio -->
                <div class="form-group">
                    <div class="custom-control custom-radio ">
                        <label class="h5">{{trans["loan duration"]}}</label>
                    </div>
                    <div class="custom-control custom-radio ml-4">
                        <input class="custom-control-input" type="radio" id="customRadio7" name="customRadio1" v-model="loanDuration" value="3">
                        <label for="customRadio7" class="custom-control-label">3 minuty</label>
                    </div>
                    <div class="custom-control custom-radio ml-4">
                        <input class="custom-control-input" type="radio" id="customRadio36" name="customRadio1" checked="" v-model="loanDuration" value="6">
                        <label for="customRadio36" class="custom-control-label">6 {{trans.minutes}}</label>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <!-- <form> -->
        <div class="text-center ">
            <div class="form-row">
                <div class="col"></div>
                <div class="form-group col-3 text-center ">{{trans["choose account"]}} </div>
                <div class="form-group col-3">
                    <select class="w-100 bg-light border-success rounded  text-center text-success" v-model="accountNumberSelected">
                        <option class="text-dark text-center" v-for="p in accountsArray" v-bind:key="p.id">
                            {{p.account_number}}
                        </option>
                    </select>
                </div>
                <div class="col"></div>
            </div>
        </div>
        <!-- </form> -->
        <hr class="mb-3 mt-2">
        <div class="text-center">
            <button v-on:click="openNewLoan" v-bind:class="{'disabled':buttonDisabled}" class="btn pl-4 pr-4 btn-outline-success">
                {{trans.send}}
            </button>
        </div>
        <!-- </form> -->
    </div>
    <!-- /.card-body -->
</div>
</template>

<script>
export default {
    inject: ["eventBus"],
    mounted() {
        const axios = require('axios');
        axios.post("api/accounts", {})
            .then(response => {
                this.accountsArray = response.data;
            })
            .catch(function(error) {
                alert('error: ' + error);
            })
            .finally(function() {
                //
            });
        axios.post("api/first_account", {})
            .then(response => {
                this.accountNumberSelected = response.data;
            })
            .catch(function(error) {
                alert('Error: ' + error);
            })
            .finally(function() {
                //
            });
    },
    data: function() {
        return {
            loanInterestRate: 5,
            loanDuration: 3,
            loanRenewal: true,
            loanAmount: 100,
            loanName: this.trans["new loan"],
            accountsArray: [],
            accountNumberSelected: this.trans.choose,
        }
    },
    methods: {
        openNewLoan() {
            if (!this.buttonDisabled) {
                this.$store.commit("setAccountNumber", this.accountNumberSelected);
                const axios = require('axios');
                axios.post("api/new_loan", {
                        loanInterestRate: this.loanInterestRate,
                        loanDuration: this.loanDuration,
                        loanAmount: this.loanAmount,
                        loanName: this.loanName,
                        accountNumber: this.$store.state.selectedAccountNumber
                    })
                    .then(response => {
                        console.log(response.data);
                        this.$store.commit("setMessage", response.data[0]);
                        this.$store.commit("setMessageClass", response.data[1]);
                        this.emitOpenMessageComponent();
                    })
                    .catch(function(error) {
                        alert('Error occurred during loan creation: ' + error);
                    })
                    .finally(function() {
                        //
                    });
            }
        },
        emitOpenMessageComponent() {
            this.eventBus.$emit('openMessageComponent');
        }
    },
    computed: {
        buttonDisabled() {
            if (this.accountNumberSelected !== this.trans.choose) {
                return false;
            }
            return true;
        },
    },
    props: [
        "trans"
    ]
}
</script>
