<template>
<div>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-center" id="exampleModalLabel">{{newPaymentMessage}}</h5>
                    <h1 class="modal-title text-success text-center" id="modalAfterPaymentTitleId" v-html="afterPaymentMessage"></h1>
                    <h3 class="modal-title text-danger text-left" id="" v-html="afterPaymentError"></h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="mb-3">
                            <span>{{trans["from account nr"]}} {{accountNumberToPass}}</span>
                        </div>
                        <div class="form-group">
                            <label for="recipient-account" class="col-form-label">{{trans["recipient account"]}}</label>
                            <input v-model="toAccountNumber" type="text" class="form-control" id="recipient-account" required>
                        </div>
                        <div class="form-group">
                            <label for="Amount" class="col-form-label">{{trans.amount}}</label>
                            <input v-model="amount" type="text" class="form-control" id="Amount" required>
                        </div>
                        <div class="form-group">
                            <label for="Description" class="col-form-label">{{trans.description}}:</label>
                            <input v-model="description" type="text" class="form-control" id="Description">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" v-on:click="clearErrors" data-dismiss="modal">{{trans.cancel}}</button>
                    <button v-on:click="makePayment" type="button" class="btn btn-primary">{{trans["make payment"]}}</button>
                    <button id="dismissModalWindowId" hidden data-dismiss="modal" type="button" class="btn btn-primary">Make Payment</button>
                </div>
            </div>
        </div>
    </div>
</div>
</template>

<script>
export default {
    data: function() {
        return {
            toAccountNumber: 1,
            amount: 1,
            description: this.trans.payment,
            newPaymentMessage: this.trans["new payment"],
            afterPaymentMessage: "",
            afterPaymentError: "",
        }
    },
    methods: {
        makePayment() {
            this.afterPaymentError = "";
            const axios = require('axios');
            axios.post("api/payment", {
                    toAccountNumber: this.toAccountNumber,
                    fromAccountNumber: this.accountNumberToPass,
                    amount: this.amount,
                    description: this.description
                })
                .then(response => {
                    this.newPaymentMessage = "";
                    if (response.data.errors) {
                        var errors = "";
                        for (var i = 0; i < response.data.errors.length; i++) {
                            errors += response.data.errors[i] + ". ";
                        }
                        this.showValidationErrors(errors);
                        return;
                    }
                    this.showSuccessfulPaymentMessage(response.data);
                    setTimeout(() => {
                        this.$emit("refreshMainCardContent");
                    }, 1000);
                    setTimeout(() => {
                        $("#dismissModalWindowId").click();
                    }, 700);
                })
                .catch(error => {
                    this.showServerErrorMessage(error);
                    setTimeout(() => {
                        this.afterPaymentError = "Please enter correct data";
                    }, 2000);
                })
                .finally(function() {
                    //
                });
        },
        clearErrors() {
            this.afterPaymentMessage = this.trans["new payment"];
            this.afterPaymentError = "";
        },
        showSuccessfulPaymentMessage(response) {
            this.afterPaymentMessage = response;
            this.afterPaymentError = "";
        },
        showServerErrorMessage(error) {
            this.afterPaymentMessage = "";
            this.newPaymentMessage = "";
            this.afterPaymentError = error;
        },
        showValidationErrors(errors) {
            this.afterPaymentError = errors;
            this.afterPaymentMessage = "";
        },
    },
    props: [
        "accountNumberToPass",
        "trans"
    ]
}
</script>
