/*!
 * Start Bootstrap - Blog Home (https://startbootstrap.com/template-overviews/blog-home)
 * Copyright 2013-2019 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-blog-home/blob/master/LICENSE)
 */
body {
    padding-top: 0px;
    padding-bottom: 0px;
}

.h-40 {
    height: 40%;
}

.h-45 {
    height: 45%;
}

.h-60 {
    height: 60%;
}

.h-70 {
    height: 70%;
}

.h-80 {
    height: 80% !important;
}

.h-90 {
    height: 90%;
}

.h-85 {
    height: 85%;
}

.h-prop {
    height: 1000px !important;
}
